/* Extrabold */
@font-face {
  font-family: 'Migra-Extrabold';
  src: url('./Migra-Extrabold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Extralight */
@font-face {
  font-family: 'Migra-Extralight';
  src: url('./Migra-Extralight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* Italic Extrabold */
@font-face {
  font-family: 'Migra-ExtraboldItalic';
  src: url('./MigraItalic-ExtraboldItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* Italic Extralight */
@font-face {
  font-family: 'Migra-ExtralightItalic';
  src: url('./MigraItalic-ExtralightItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
